/* Jumbo Header styling*/

.JumboHeader {
  padding: 150px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.JumboHeader .HeadText {
  font-size: 70px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: grey;
}

.JumboHeader h2 {
  color: darkslategrey;
  font-size: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.JumboHeader h3 {
  color: darkslategrey;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
